---
import Layout from "../layouts/Layout.astro";
import Buttons from "../components/Buttons.astro";

const title = "JavierMolines 1.0.0";
const description =
  "My personal homepage redirects to my social media profiles and other links of interest.";
---

<Layout title={title} description={description}>
  <section class="h-dvh bg-[#1a001a] flex flex-col justify-center">
    <div class="mx-auto max-w-[80ch] py-8 px-4 text-center lg:py-16">
      <h1
        class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl"
      >
        Javier Molines
      </h1>
      <p
        class="mb-8 text-lg font-normal text-gray-400 lg:text-xl sm:px-16 lg:px-48"
      >
        Links of interest
      </p>
      <Buttons />
    </div>
  </section>
</Layout>
