---
import Icon from "./Icon.astro";

interface ButtonProps {
  title: string;
  link: string;
  style: string;
}

const dataButtons: Array<ButtonProps> = [
  {
    link: "https://infosecmachines.io",
    title: "Web Filter Machines",
    style:
      "inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-[#b30047] hover:bg-[#99003d]",
  },
  {
    link: "https://onlinechessclock.dev",
    title: "Online Chess Clock",
    style:
      "inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-[#008000] hover:bg-[#006600]",
  },
  {
    link: "https://clipboard.javiermolines.com",
    title: "Clipboard Manager",
    style:
      "inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-[#ff3300] hover:bg-[#cc2900]",
  },
  {
    link: "https://github.com/JavierMolines",
    title: "GitHub",
    style:
      "inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-[#47476b] hover:bg-[#3d3d5c]",
  },
];
---

{
  dataButtons.map(({ title, link, style }) => {
    return (
      <a href={link} class={style}>
        {title}
        <Icon />
      </a>
    );
  })
}
